body, html {
margin-left:8%;
margin-right:8%;
margin-bottom:3%;
margin-top:3%;
}

.date {
  color: gray
}

.quizHeader {
  text-align: center
}

.questions {
  margin-top: 40px
}

#question {
  font-weight: bold
}

.form-check {
  margin-bottom: 5px
}

.lastQ {
  margin-bottom: 20px
}

.resultsButton {
  text-align: center
}

.progress {
  height: 30px !important
}

.progress {
  margin-top: 20px
}

.resultsMeaning {
  margin-top: 20px
}

.title {
  text-align: center
}
